{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{{ tag }}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content_title %}{{ document }}{% endblock %}

{% block content %}	
	<div class="panel panel-default">
		<div class="panel-heading">
			Data
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label>Title</label>
						<p class="form-control-static">{{ document.title }}</p>
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<label>Summary</label>
						<p class="form-control-static">{{ document.summary }}</p>
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<label>Date</label>
						<p class="form-control-static">{{ document.date }}</p>
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<label>Type</label>
						<p class="form-control-static">{{ document.get_type_display }}</p>
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<label>Entry</label>
						<p class="form-control-static"><a href="/data/entry/{{ document.entry.id }}">{{ document.entry }}</a></p>
					</div>
					<!-- /.form-group -->
					<div class="form-group">
						<label>File</label>
						<p class="form-control-static">{{ document.file }}</p>
					</div>
					<!-- /.form-group -->
				</div>
				<!-- /.col-lg-6 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.panel-body -->
	</div>
	
{% endblock %}