{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}{{ tag }}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content_title %}{{ tag }}{% endblock %}

{% block content %}	
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ entry }}
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th></th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Title</td>
							<td>{{ entry.name }}</td>
						</tr>
						<tr>
							<td>Tag</td>
							<td>{{ entry.tag }}</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>{{ entry.status }}</td>
						</tr>
						<tr>
							<td>Amount</td>
							<td>{{ entry.amount }}</td>
						</tr>
						<tr>
							<td>Order</td>
							<td>
							<ul>
								{% for bill in entry.order %}
									<li><a href="/data/document/{{ bill.id }}">{{ bill.title }}</a></li>
								{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<td>Bill</td>
							<td>
								<ul>
								{% for bill in entry.bill %}
									<li><a href="/data/document/{{ bill.id }}">{{ bill.title }}</a></li>
								{% endfor %}
								</ul>
							</td>
						</tr>
						<tr>
							<td>Transfer</td>
							<td>
							<ul>
								{% for bill in entry.transfer %}
									<li><a href="/data/document/{{ bill.id }}">{{ bill.title }}</a></li>
								{% endfor %}
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.table-responsive -->
		</div>
		<!-- /.panel-body -->
	</div>
{% endblock %}