{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block scripts %}
<style>
.colindex {
	width: 20px;
}
.coldoc {
	width: 50px;
}
.colstatus {
	width: 100px;
}
.colamount {
	width: 100px;
	text-align: right;
}
.pdf-icon {
	width: 28px;
}
</style>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Summary
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					{{ category }}
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
    <div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Chart Example
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div id="placeholder" style="width:600px;height:300px"></div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	{% for tag in tag_list %}
		<div class="panel panel-default">
			<div class="panel-heading">
				{{ tag }}
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="colindex">#</th>
								<th class="colname">Name</th>
								<th class="coldoc">Order</th>
								<th class="coldoc">Bill</th>
								<th class="coldoc">Transfer</th>
								<th class="colstatus">Status</th>
								<th class="colamount">Amount</th>
							</tr>
						</thead>
						<tbody>
							{% for entry in tag.entries %}
								<tr>
									<td class="colindex">{{ forloop.counter }}</td>
									<td class="colname">{{ entry.name }}</td>
									<td class="coldoc">{% for order in entry.order %}<a href="/data/document/{{ order.id }}"><img src="{% static 'data/img/pdf-icon.png' %}" class="pdf-icon" /></a>{% endfor %}</td>
									<td class="coldoc">{% for bill in entry.bill %}<a href="/data/document/{{ bill.id }}"><img src="{% static 'data/img/pdf-icon.png' %}" class="pdf-icon" /></a>{% endfor %}</td>
									<td class="coldoc">{% for transfer in entry.transfer %}<a href="/data/document/{{ transfer.id }}"><img src="{% static 'data/img/pdf-icon.png' %}" class="pdf-icon" /></a>{% endfor %}</td>
									<td class="colstatus">{{ entry.get_status_display }}</td>
									<td class="colamount">{{ entry.amount }} €</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.table-responsive -->
			</div>
			<!-- /.panel-body -->
		</div>
	{% endfor %}
{% endblock %}

{% block scripts_footer %}
	<!-- Flot Charts JavaScript -->
    <script src="{% static 'data/js/flot/excanvas.min.js' %}"></script>
    <script src="{% static 'data/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'data/js/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'data/js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'data/js/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'data/js/flot/jquery.flot.tooltip.min.js' %}"></script>
    <!--<script src="{% static 'data/js/flot/flot-data.js' %}"></script>-->
    <script>
    	var d1 = [];
		for (var i = 0; i < 14; i += 0.5) {
			d1.push([i, Math.sin(i)]);
		}
		var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];
		// A null signifies separate line segments
		var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];
		
		var data = [ { label: "sin(x)", data: d1 },
			{ label: "cos(x)", data: d2 },
			{ label: "tan(x)", data: d3 } ];
			
		var options = { yaxis: { max: 20 } };
		
    	$.plot($("#placeholder"), data, options);
    </script>
{% endblock %}